.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  overflow-x: hidden;
  width: 1952px;
  height: 4237px;
}

.frame .overlap-group {
  position: relative;
  height: 4237px;
  left: 2px;
  background-color: #fffdfd;
}

.frame .line {
  top: 1472px;
  left: 95px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .element-t-t {
  position: absolute;
  width: 1652px;
  top: 1119px;
  left: 95px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper {
  font-weight: 500;
}

.frame .span {
  font-weight: 700;
}

.frame .img {
  top: 1106px;
  left: 95px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .line-2 {
  top: 1754px;
  left: 95px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .line-3 {
  top: 2150px;
  left: 95px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .line-4 {
  top: 2492px;
  left: 95px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .line-5 {
  top: 2941px;
  left: 95px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .div {
  position: absolute;
  width: 1784px;
  top: 857px;
  left: 95px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap {
  position: absolute;
  width: 19px;
  height: 6px;
  top: 11px;
  left: 28px;
}

.frame .rectangle {
  width: 2px;
  height: 2px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .rectangle-2 {
  width: 18px;
  height: 5px;
  top: 1px;
  left: 1px;
  position: absolute;
  background-color: #d9d9d9;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 355px;
  top: 106px;
  left: 95px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #143b4b;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .ng-y-sinh {
  position: absolute;
  width: 601px;
  top: 214px;
  left: 112px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 768px;
  left: 95px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .line-6 {
  top: 825px;
  left: 95px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 240px;
  top: 1038px;
  left: 95px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .m-nh-c-ch-i-game-du {
  position: absolute;
  top: 2974px;
  left: 98px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 1412px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  position: absolute;
  top: 1692px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-7 {
  position: absolute;
  top: 2099px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .p {
  position: absolute;
  top: 2438px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-8 {
  position: absolute;
  top: 2878px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-9 {
  position: absolute;
  top: 3261px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .line-7 {
  top: 3322px;
  left: 99px;
  position: absolute;
  width: 1784px;
  height: 3px;
}

.frame .CH-NG-CH-l-p-TR-NH {
  position: absolute;
  width: 932px;
  top: 2628px;
  left: 95px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .HTML-CSS-fundamental {
  position: absolute;
  width: 912px;
  top: 2178px;
  left: 98px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .element-gi-i-t-i {
  position: absolute;
  width: 1726px;
  top: 1788px;
  left: 93px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .element-hi-n-t-i-c {
  position: absolute;
  width: 1781px;
  top: 1495px;
  left: 98px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-10 {
  font-weight: 500;
  font-size: 36px;
}

.frame .TRANG-WEB-QU-n-l-TH {
  position: absolute;
  width: 1770px;
  top: 3342px;
  left: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-11 {
  position: absolute;
  width: 180px;
  top: 3767px;
  left: 98px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-12 {
  position: absolute;
  width: 250px;
  top: 3853px;
  left: 105px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}
.frame .text-wrapper-13 {
  position: absolute;
  width: 250px;
  top: 3890px;
  left: 105px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}


.frame .image {
  position: absolute;
  width: 344px;
  height: 426px;
  top: 165px;
  left: 1427px;
  object-fit: cover;
}
